<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="User icon" class="profile-img-card" />
    <form *ngIf="!loginSrv.isAutenticated" name="form" (ngSubmit)="miForm.form.valid && logInOut()" #miForm="ngForm"
      novalidate>
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="txtUsuario" required
          #username="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="username.errors && miForm.submitted">Es obligatorio</div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="txtPassword"
          #password="ngModel" required minlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$"
          placeholder="Contraseña" />
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && miForm.submitted">
          <div [hidden]="!password.hasError('required')">Es obligatorio</div>
          <div [hidden]="!password.errors['minlength']">Debe al menos 8 caracteres</div>
          <div [hidden]="!password.hasError('pattern')">Debe contener mayúsculas, minúsculas, dígitos y símbolos</div>
        </div>
      </div>
      <div class="form-group btn-group mt-2">
        <button type="submit" class="btn btn-primary btn-block">Acceder</button>
        <button type="button" class="btn btn-info btn-block" (click)="registrar()">Registrarse</button>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="miForm.submitted && !loginSrv.isAutenticated">
          Acceso denegado: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="loginSrv.isAutenticated">
      <div>
        <h2>Hola {{loginSrv.Name}}</h2>
        <p>Has accedido como: {{ loginSrv.Roles.join(', ') }}.</p>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-danger" (click)="logInOut()">Desconectar</button>
      </div>
    </div>
  </div>
</div>
