<form [formGroup]="miForm">
  <label>User: <input type="text" formControlName="user" ></label>
  {{miForm.get('user')?.errors | json}}
  <fieldset formGroupName="password" >
    <label>Password: <input type="password" formControlName="passwordValue" ></label>
    {{miForm.get('password')?.get('passwordValue')?.errors | json}}
    <label>Confirm Password: <input type="password" formControlName="passwordConfirm" ></label>
  </fieldset>
  {{miForm.get('password')?.errors | json}}
  <div formArrayName="roles">
    <h4>Roles</h4><button (click)="addRole()">Add Role</button>
    <ul *ngFor="let row of $any(miForm.get('roles')).controls; let i=index" [formGroupName]="i">
      <li>{{i + 1}}: <input type="text" formControlName="role">
      {{row?.get('role')?.errors | json}}
      <button (click)="deleteRole(i)">Delete</button></li>
    </ul>
  </div>
  <button (click)="send()" [disabled]="miForm.invalid">Send</button>
  <button (click)="edit()">edit</button>
  <button (click)="cancel()">cancel</button>
</form>
<p>
{{ miForm.value | json }} <br>
{{ miForm.status | json }} <br>
{{ miForm.errors | json }} <br>
{{ model | json }}

</p>
