<p>
  <input type="button" value="nuevo" (click)="add()">
  <input type="button" value="editar" (click)="edit()">

</p>
<form #miFom="ngForm">
  <p>
    <label for="id">Código:</label>
    <input type="number" id="id" name="id" [(ngModel)]="elemento.id" #id="ngModel" required>
    <output class="error" [hidden]="!id.hasError('required') || miFom.pristine">Es obligatorio</output>
    <br>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="elemento.nombre" #nombre="ngModel" required maxlength="10"
      minlength="2" mayusculas>
    <!-- <output class="error" [hidden]="!nombre?.errors?.['required']">Es obligatorio</output>
    <output class="error" [hidden]="!nombre.hasError('minlength') && !nombre.hasError('maxlength')">Debe tener entre 2 y
      10 letras</output>
    <output class="error" [hidden]="!nombre?.errors?.['mayusculas']">No está en mayúsculas</output> -->
    <app-show-errors-messages [errors]="nombre?.errors" />
    <!-- {{nombre?.errors | json}} -->
    <br>
    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" [(ngModel)]="elemento.apellidos" #apellidos="ngModel"
      maxlength="10" minlength="2">
    <output class="error" [hidden]="!apellidos.hasError('minlength') && !apellidos.hasError('maxlength')">Debe tener
      entre 2 y
      10 letras</output>
    <br>
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" [(ngModel)]="elemento.edad" #edad="ngModel" min="16" max="67">
    <output class="error" [hidden]="!edad.hasError('min') && !edad.hasError('max')">Debe tener entre 16 y
      67 años</output>
    <br>
    <label for="nif">Nif:</label>
    <input type="text" id="nif" name="nif" [(ngModel)]="elemento.nif" #nif="ngModel" nif>
    <output class="error" [hidden]="nif.valid">{{nif.errors | errormsg}}</output>
    <br>
    <label for="email">Correo:</label>
    <input type="email" id="email" name="email" [(ngModel)]="elemento.email" #email="ngModel">
    <output class="error" [hidden]="!email.hasError('type')">{{email.getError('type')}}</output>
  </p>
  <p>
    <input type="button" value="Enviar" (click)="send()" [disabled]="miFom.invalid">
    <input type="button" value="Volver" (click)="cancel()">
  </p>
 <app-form-buttons [send-text]="'enviar'" (send)="send()" [send-disabled]="miFom.invalid" [cancel-text]="'volver'" (cancel)="cancel()" />
</form>
{{ elemento | json }}
